## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: apparmor-profile-torbrowser
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), dh-apparmor
Homepage: https://www.kicksecure.com/wiki/AppArmor
Vcs-Browser: https://github.com/Kicksecure/apparmor-profile-torbrowser
Vcs-Git: https://github.com/Kicksecure/apparmor-profile-torbrowser.git
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: apparmor-profile-torbrowser
Architecture: all
Depends: ${misc:Depends}, apparmor
Description: AppArmor profile for The Tor Browser Bundle (TBB)
 An AppArmor profile to confine The Tor Browser Bundle (TBB). This profile
 is developed by the Whonix team. TBB is developed by The Tor Project.
 .
 This package is produced independently of, and carries no guarantee from,
 The Tor Project.
