#!/usr/bin/make -f

## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

#export DH_VERBOSE=1

clean:
	dh_testdir
	dh_testroot
	dh_clean

build-arch: build

build-indep: build

build:

binary: binary-indep

binary-arch:

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installman
	dh_installdebconf
	dh_installchangelogs
	dh_installdocs
	dh_gencontrol
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_md5sums
	dh_builddeb

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install --sourcedir ./
	dh_apparmor --profile-name=home.user.tor-browser_en-US.Browser.firefox -papparmor-profile-torbrowser

.PHONY: clean build binary install
