#!/usr/bin/make -f

## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	rsync \
		-C \
		--verbose \
		--recursive \
		--links \
		--perms \
		--times \
		--exclude debian \
		--exclude t \
		--exclude .gitignore \
		--exclude COPYING \
		--exclude GPLv3 \
		--exclude build \
		--exclude clean \
		--exclude CONTRIBUTING.md \
		$(CURDIR)/ \
		debian/$(shell dh_listpackages)
	dh_apparmor --profile-name=home.user.tor-browser_en-US.Browser.firefox -p$(shell dh_listpackages)

clean:
	git clean -df

.PHONY: clean build
